@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header: 8vh;
    --main: calc(100vh - calc(var(--header) + var(--footer)));
    --footer: 6vh;
}

/* Body Section */

body {
    border: 1px solid #000;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    min-width: 100%;
}

/* Container Section */

#container {
    border: 1px solid #000;
    display: grid;
    grid-template-areas:
        "header header header header header header header header"
        "aside main main main main main main main"
        "footer footer footer footer footer footer footer footer";
    grid-template-columns: 1.5fr 3fr 3fr;
}

/* Header Section */

header {
    border: 1px solid #000;
    grid-area: header;
    height: var(--header);
}

.nav-menu {
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    padding: 0 5rem;
}

.nav-menu-left {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.nav-menu-left {
    display: flex;
    gap: .5rem;
}

.nav-menu-left i {
    font-size: 1.75rem;
}

.ri-menu-line {
    font-size: 1.85rem;
}

#logo {
    font-size: 1.5rem;
    font-weight: 400;
}



/* Main Section */

main {
    border: 1px solid #000;
    grid-area: main;
    height: var(--main);
}

.task-title {
    font-size: 2rem;
    font-weight: 370;
    padding-left: 2rem;
    padding-top: 1rem;
}

/* Sections */

#today-task {
    display: none;
}

#week-task {
    display: none;
}

#important-task {
    display: none;
}

#completed-task {
    display: none;
}

/* Aside Section */

aside {
    border: 1px solid #000;
    display: grid;
    grid-column: 1fr;
}

.nav-aside {
    border: 1px solid #000;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#nav-logo {
    font-size: 1rem;
    border: 1px solid #000;
}

.nav-side div {
    border: 1px solid #000;
    padding: 0 2rem 0 2rem;
}

.my-list {
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1rem 0 1rem .5rem;
    gap: .5rem;
}

.aside-menu, .create-menu {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 1rem;
    padding: 0 .5rem 0 .5rem;
}

.aside-menu li, .create-menu li {
    display: flex;
    align-items: center;
    font-size: 1.15rem;
    font-weight: 400;
    gap: .25rem;
    border: 1px solid #000;
    padding: .25rem;
    min-width: 60%;
    border-radius: .2rem;
}

.aside-menu li:hover, .create-menu li:hover {
    cursor: pointer;
}

.aside-menu i {
    font-size: 1.45rem;
}

.create-list {
    display: flex;
    align-items: center;
    margin: 0 .5rem;
    justify-content: space-between;
}

.create-task, .create-project {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-task div:first-child, .create-project div:first-child {
    display: flex;
    gap: .25rem;
    align-items: center;
}

.create-task div:nth-child(2), .create-project div:nth-child(2) {
    display: flex;
    gap: .25rem;
}

.create-menu i {
    font-size: 1.35rem;
}

.create-task {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: .8rem;
    padding: .1rem;
}

#create-task:hover {
    cursor: pointer;
}

/* Footer Section */

footer {
    border: 1px solid #000;
    grid-area: footer;
    height: var(--footer);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

/* Dialog Modal */