@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

/* Body Section */

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    height: 100vh;
}

/* Container Section */

.container {
    display: grid;
    grid-template-areas:
        "aside main ";
    grid-template-columns: 1fr 6fr;
    height: 100%;
}

/* End of Container Section */

/* Main Section */

main {
    grid-area: main;
    height: 100%;
}

.today-section {
    height: inherit;
}

.section-title {
    font-size: 2rem;
    font-weight: 350;
    margin: 1rem 0 0 2rem;
}

.task-container {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-current-task {
    font-size: 2.5rem;
    font-weight: 200;
}

/* End of Main Section */

/* Aside Section */

aside {
    grid-area: aside;
    height: inherit;
    position: relative;
}

nav {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container {
    margin: 1rem 0 0 0;
}

.logo {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.75rem;
    font-weight: 400;
}

.logo i {
    font-size: 1.1rem;
}

.nav-section {
    margin: 3rem 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 80%;
}

.nav-list-center {
    margin: 2rem 0 0 0;
}

.nav-list-bottom {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.nav-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nav-item i {
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.35rem;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: .25rem;
    font-size: 1.1rem;
    text-transform: capitalize;
}

.nav-item:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.nav-list-top {
    margin: 2rem 0 0 0;
}

.nav-list-bottom {
    margin: 2rem 0 0 0;
}

.nav-control-panel {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    font-size: 1.25rem;
    padding: .25rem .5rem;
}

.aside-panel-icon:hover {
    cursor: pointer;
    transform: scale(1.2);
}

/* End of Aside Section */

@media screen and (max-width: 576px) {

}

