@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Matangi:wght@300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

/* Body Section */

body {
    font-family: Karla, Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    height: 100vh;
}

/* Container Section */

.container {
    border: 1px solid #000;
    display: grid;
    grid-template-areas: "aside main";
    grid-template-columns: 220px 1fr;
    height: 100vh;
}

/* Main Section */

main {
    border: 1px solid #000;
    grid-area: main;
}

/* End of Main Section */

/* Aside Section */

aside {
    border: 1px solid #000;
    grid-area: aside;
    height: inherit;
    width: inherit;
}

nav {
    border: 1px solid #000;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

.nav-logo {
    gap: .5rem;
    font-size: 1.5rem;
    font-weight: 300;
}

/* Todo Menus */

.pinned-projects-menu,
.dashboard-menu,
.todo-main-menu,
.list-section,
.todo-settings-menu {
    padding: .4rem 0;
}

.menu-title {
    font-size: 1rem;
    text-transform: uppercase;
    padding: 1.1rem 0;
}

.main-menu-button, .setting-menu-button {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    gap: .5rem;
    align-items: center;
}

.first-icon {
    height: 22px;
    width: 22px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-icon {
    height: 22px;
    width: 22px;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-item {
    font-size: 1rem;
    text-transform: capitalize;
}

.work-section,
.personal-section,
.health-wellness-section,
.learning-develop-section,
.finance-section,
.social-relationships-section,
.projects-goals-section,
.shopping-wishlist-section,
.travel-events-section {
    display: none;
}

/* End of Aside Section */

/* Main Section */

.header-section, .subheader-section {
    display: flex;
    justify-content: space-between;
    padding: .5rem .5rem .5rem .5rem;
}

.header-section {
    margin-top: .5rem;
}

.subheader-section {
    display: flex;
    align-items: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: .75rem;
}

.header-main {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.header-icon {
    font-size: 1.25rem;
}

.main-title {
    font-size: 1.35rem;
    font-weight: 400;
}

.subheader-list {
    display: flex;
    gap: .5rem;
    font-size: 1rem;
}

.todo-main {
    display: flex;
    gap: 1rem;
    padding: 1rem .5rem;
}

.todo-container {
    border: 1px solid #000;
    min-height: 40rem;
    width: 18rem;
    border-radius: .25rem;
}

.todo-header-section {
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    align-items: center;
}

.todo-section-title {
    font-size: 1.25rem;
    font-weight: 600;
}

.toggle-todo {
    font-size: 1.25rem;
    transform: rotate(90deg);
}

