@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Global Selectors */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

/* HTML and Body Section */

html, body {
    border: 1px solid #000;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    height: 100%;
}

/* Body Section */

/* Container Section */

.container {
    display: grid;
    grid-template-areas: "aside main";
    grid-template-columns: 1fr 6fr;
    height: inherit;
}

/* Main Section */

main {
    border: 1px solid green;
    grid-area: main;
    height: inherit;
}

.task-section {
    height: inherit;
}

.section-title {
    font-size: 2.25rem;
    font-weight: 300;
    padding: .75rem 0 0 1rem;
}

.task-container {
    border: 1px solid red;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-current-task {
    font-size: 2.2rem;
    font-weight: 300;
}

.upcoming-section {
    display: none;
}

.anytime-section {
    display: none;
}

.someday-section {
    display: none;
}

/* End of Main Section */

/* Aside Section */

aside {
    border: 1px solid skyblue;
    grid-area: aside;
}

nav {
    border: 1px solid orange;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.nav-list-bottom {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

.nav-section {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin: 1rem 0 0 0;
}

.logo-container {
    margin: 1rem 0 2rem 0;
}

.logo {
    font-size: 1.75rem;
    font-weight: 400;
    display: flex;
    gap: .75rem;
    align-items: center;
    justify-items: center;
}

.logo i {
    font-size: 1.65rem;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: .75rem;
    text-transform: capitalize;
    font-size: 1.15rem;
}

.nav-item:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.nav-list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.nav-item i {
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.nav-control-panel {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    padding: .25rem .5rem;
}

.aside-panel-icon {
    font-size: 1.2rem;
}

.aside-panel-icon:hover,
.nav-item:hover
{
    cursor: pointer;
    transform: scale(1.3);
}

/* End of Aside Section */